body {
    overflow: hidden; /* 스크롤을 숨김 처리 */
}
.cameraContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.guide {
    width: 100%;
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    z-index: 1;
}
.cameraBtnImage {
    width: 72px;
    height: 72px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}
.storageBtn {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
}
.coordinatorBtn {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1;
}
.focus {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}
.stepImage {
    width: 22px;
    height: 214px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    cursor: pointer;
    z-index: 1;
}