.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.modalContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resultModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 256px;
    height: 202px;
    border-radius: 20px;
    padding: 32px 24px;
    background-color:  #303237;
    
}
.resultIcon{
    width: 60px;
    height: 60px;
}
.resultText{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;
}
.resultBtn{
    width: 256px;
    height: 50px;
    padding: 14px 70px;
    border-radius: 16px;
    border-width: 0;
    color: black;
    font-size: 18px;
    font-weight: 600;
}