body {
  overflow: hidden; /* 스크롤을 숨김 처리 */
}

.RcmdContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1E1F23;

}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTexts{
    margin-left: 20px;
}
.contentText1 {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 28;
    font-family: 'Pretendard';
    font-weight: 700;
    line-height: 1.5;
    word-wrap: 'break-word';
}
.contentText2 {
    margin: 0;
    color: white;
    font-size: 16;
    font-family: 'Pretendard';
    font-weight: 400;
    line-height: 1;
    word-wrap: 'break-word';
}
.sockColorContain{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 340px;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 240px;
    border-radius: 20px;
    background-color: #303237;
}
.sockContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sockTextp{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
.sockTexth2{
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}
.RcmdBtn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 80px;
    color: black;
    background-color: #DDFD5C;
    border-radius: 16px;
    border-width: 0;
}